/*#size{
    text-align:center;
    padding: 20px 0;
    font-size:50px;
    
  
}*/
.cardwidth{
    width: 30%;

}


#login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    
}
mat-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#l {
    float: right;
    padding-top: 0px;
    margin-top: 0px;
}*/
.usernamee{
    width: 100%;
}