<div class="container" id="login">
  <mat-card  class="cardwidth">
    <mat-card-header  >
     <img  mat-card-avatar src="assets/image/material.png" alt="No image">
      <br>
      <mat-card-title> TACCSO UKZN </mat-card-title>
      <mat-card-subtitle>Slogan</mat-card-subtitle>
    </mat-card-header>

<mat-card-content>
<div >
<form (submit)="loginuser($event)">
<div >
  <mat-form-field appearance="outline"  class="usernamee">
    <mat-label >Username</mat-label>
    <input matInput placeholder="Enter Username" type="text" id="w" >
    <mat-hint>Hint:215...</mat-hint>
  </mat-form-field>
</div> 
<br>
<div >
  <mat-form-field appearance="outline" class="usernamee">
    <mat-label id="labell">Password</mat-label>
    <input matInput type="password" placeholder="Enter Password" [type]="hide? 'password':'text'">
    <mat-icon matSuffix (click)="hide=!hide">{{hide? 'visibility_off':'visibility'}}</mat-icon>
    <mat-hint color="warn" *ngIf="password">Entered an incorrect password</mat-hint>
  </mat-form-field>
</div>
<br>
<div >
  <button mat-raised-button color="primary" value="Login" routerLink="/dashboard" class="usernamee">Login</button>
  <div id="login">
  <button mat-button color="primary" value="password" id="equalposition" (click)="openDialog()">Forgot Password??</button>
  <br><br>
  <button mat-button color="primary" value="Register" id="l"  routerLink="/register">Register An Acount</button>
   </div>
</div>

</form>
</div>
</mat-card-content>

</mat-card>
</div>
